.container {
  height: 615px;
  width: 375px;
  background-color: #c0c0c0;
  margin-top: 100px;
  border: 1px solid black;
}

.display {
  padding: 5px;
  padding-left: 1px;
  width: 100%;
}

#screen {
  background-color: rgb(245 244 244);
  border: none;
  width: 100%;
  text-align: right;
  font-size: 44px;
}

.btns {
  width: 100%;
  margin: 1px;
  margin-bottom: 1px;
}

.btns button {
  margin-bottom: 5px;
  width: 65px;
  height: 45px;
  padding: 0px;
  border: none;
  background-color: #dcdcdc;
}

.btns button:hover {
  border: 1px solid black;
}

.dropdown-menu button {
  margin-bottom: 1px;
}

.btn-group button {
  padding: 0px;
  border-radius: 3px;
  margin: 0px 2px 4px 0px;
}

#equal {
  background-color: #4169e1;
}

#era {
  color: black;
  height: 3px;
  width: 3px;
}

.f {
  padding-right: 10px;
  padding-left: 20px;
  font-size: 16px;
  padding-top: 3px;
}

.fun {
  padding-top: 5px;
}

#tf i {
  padding-left: 7px;
  padding-top: 3px;
}

#f1 {
  margin: 1px;
}
#f2 {
  margin: 1px;
}

.close {
  display: none;
}

#dropdownMenuButton1 {
  width: 135px;
  height: 30px;
  font-size: 14px;

  color: black;
  border-radius: none;
}

#dropdownMenuButton {
  margin-left: 4px;
  width: 135px;
  height: 30px;
  font-size: 14px;

  color: black;
  border-radius: none;
}

.dropdown-item {
  margin-left: 10px;
  flex-wrap: wrap;
}

.dropdown-menu {
  width: 77%;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
}

.trigo1 {
  margin: 1px;
  margin-bottom: 0px;
}

.trigo2 {
  margin: 1px;
  margin-bottom: 0px;
}

.hypo1 {
  margin: 1px;
}

.hypo2 {
  margin: 1px;
}

.f1 {
  margin: 1px;
}
